/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: lightgray;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 100%;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }
 
 h1 strong {
      display: block;
      font-size: 100%;
      opacity: 0.75;
 }

/******************************************
/* LAYOUT
/*******************************************/
header, footer {
     height: 10vh;
     display: flex;
     justify-content: center;
     align-items: center;  
}


header {
     margin-bottom: 5%;
     background: red;
}

footer {
     background: black;
}

.main-container {
     align-self: center;
     flex: 1;
     margin-bottom: 5%;
     width: 80%;

     display: flex;
     flex-flow: nowrap row;
     justify-content: space-evenly;

     /* border: solid 1px black; */
}

section {
     /* border: solid 1px black; */
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.product-media {
     order: -1;
     flex: 1.2;
     display: flex;
     justify-content: center;
     align-items: center;
}

.product-image {
     max-width: 70%;
}

.product-details {
     flex: 1;
}


nav {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-around;
     width: 90%;
}

.nav-link {
     align-self:center;
}

.home-link {
     flex: 0.75;     
}

.nav-icon {
     width: 2.5rem;
}

.site-logo {
     width: 4.5rem;
}

.buy-button {
     background: red;
     color: white;
     
}

.buy-button {
     background-color: #4CAF50; /* Green */
     border: none;
     color: white;
     padding: 1em 1.5em;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     width: 100%;
}

.buy-button:hover {
     background-color: #555;
     cursor: pointer;
}

.buy-button:active {
background-color: black;
}

.buy-button:visited {
background-color: #ccc;
}

