{{ define "header" }}
    <header>
        <nav>
            <a href="/" class="site-logo">
                <img class="nav-icon" src="{{ "images/logos/NutrimaxTotal_Logo.jpg" | relURL }}" alt="Nutrimaxtotal.com">
            </a>
            <a href="#" class="nav-page">Productos</a>
            <a href="#" class="nav-page">Blog</a>
            <a href="/acerca-de/" class="nav-page">Acerca de</a>
            <a href="/contacto/" class="nav-page">Contacto</a>
            <a href="https://www.instagram.com/Nutrimaxtotal/" target="_blank" class="nav-image-link">
                <img class="nav-icon" src="{{ "images/logos/Instagram_Logo.png" | relURL }}" alt="Instagram page"></a>
            <a href="https://www.facebook.com/Nutrimaxtotal" target="_blank" class="nav-image-link">
                <img class="nav-icon" src="{{ "images/logos/Facebook_Logo.png" | relURL }}" alt="Facebook page"></a>
        </nav>
    </header>
{{ end }}
